<nav class="navbar navbar-expand-sm  bg-dark">
        <div class="container-fluid">
            <!-- <div class="site-title navbar-brand">
                
            </div> -->
            <a class="navbar-brand" href="/"><h2>Blog Cellva</h2></a>
            <a class="navbar-brand" href="/">Blogs</a>
            <a class="navbar-brand" href="/about">About</a>
            <a  class="navbar-brand" href="/create">New Blog</a>
        </div>
    </nav>